@import url('constant.css');

body {
    font-family: var(--font-primary), var(--font-secondary);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--bg-300);
}

.nav-links,
.logo,
.signup {
    display: flex;
    align-items: center;
}

.nav-links a{
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-100);
    font-weight: bold;
}

.logo {
    flex-grow: 1;
    justify-content: center;
}

.home-link img {
    display: block;
}

.header, .footer{
    background-color: var(--bg-100);
    text-align: center;
    padding: 20px 0;
}

.locationInput {
    width: 15%;
    padding: 10px; 
    font-size: 16px; 
}

.travelButton {
    background-color: var(--primary-100); 
    color: var(--primary-300);
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.travelButton:hover {
    background-color: var(--primary-300);
    color: var(--text-100);
}

.signup a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary-300);
    font-weight: bold;
}

.signup-btn {
    padding: 5px 15px;
    background-color: var(--primary-100);
    border-radius: 5px;
}

.suggested-locations {
    background-color: var(--bg-100);
    text-align: center;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination {
    flex: 1;
    margin: 20px;
    padding: 30px;
    background-color: var(--bg-200);
    border: 1px solid var(--bg-200);
    width: 25%;
    border-radius: 30px;
}

.destination img {
    width: 100%;
    height: 600px;
}
